.location{
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    margin-bottom: 75px;
    justify-content: center;
    width: 100%;
}

.location__header{
    display: flex;
    font-family: principalFont;
    font-size: 60px;
    height: 180px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.location p{
    width: 100%;
    text-align: center;
}

.mapContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

@media (max-width: 750px) {
    .location__header{
        font-size: 50px;
        text-align: center;
    }
}